.Home{
    display:flex;
    clip-path: polygon(0% 0%, 100% 0%, 100% 75%, 0% 100%);
    background: rgb(185,54,207);
    background: linear-gradient(90deg, rgba(185,54,207,1) 50%, rgba(71,23,246,1) 100%);
    border-radius: 10px;
    height:600px;
    width: 100%;
    top: 0;
    
}

.text{
    position: relative;
    top: 0;
    width: 40%;
    height: auto;
    
    
}

.text h2{
    position: relative;
    font-size:2em;
    left:400px;
    top:100px;
    color:white;
    width:100%;
    height:auto;
}

p{
    position: relative;
    width: 50%;
    height:auto;
    font-size:1.2em;
    left: 0;
    top: 250px;
    color:white;
}

.foto {
    position: relative;
    display: flex;
    width: 100%;
    /* right:30%; */
}

.foto img{
    display:block;
    width:100%;
    height:auto;
}