.Home{
    display:grid;
    grid-template-columns: repeat(2, 1fr);
    clip-path: polygon(0% 0%, 100% 0%, 100% 75%, 0% 100%);
    background: rgb(185,54,207);
    background: linear-gradient(90deg, rgba(185,54,207,1) 50%, rgba(71,23,246,1) 100%);
    border-radius: 10px;
    height:600px;
    width: 100%;
    top: 0;
    
}

.text{
    position: relative;
    top: 0;
    width: 100%;
    height: auto;
    
    
}

.text h2{
    position: relative;
    font-size:2em;
    left:165px;
    top:150px;
    color:white;
    width:100%;
    height:auto;
}

p{
    position: relative;
    width: 70%;
    height:auto;
    font-size:1.2em;
    top:150px;
    left:165px;
    color:white;
}

/* .foto {
    position: relative;
    display: flex;
    width: 100%;
  
} */

.foto {
    /* position: absolute;
    z-index: -1; */
    top: 45px;
    position: relative;
    display:block;
    width:50%;
    height:auto;
}

@media (max-width: 1199.98px)  {
    body{background: red;}
    .text{
        position: relative;
        top: 0;
        width: 90%;
        height: auto;
        font-size:16px;
        
        
    }

    

}

@media (min-width: 576px) and (max-width: 991.98px) and (orientation:portrait) {
    body{background: orange;}
}
