.team-container{
    text-align: center;
}

.container-slide{
    display: flex;
    justify-content: center;

    position: relative;
    background-color: aqua;
    margin-bottom: 20px;
    /* flex-direction: column; */
}

.card_slide{
    background-color: coral;
    width: 800px;
    
}

.animation_next{
    animation: moverIzquierda .7s ease-in-out;
}
.animation_prev{
    animation: moverDerecha .7s ease-in-out;
}

.card_avatar{
    display: block;
    width: 120px;
    height: 120px;
    object-fit: cover;
    border-radius: 50%;
}



.slider_dots{
    background-color: #919090;
    width: 20px;
    height: 20px;
    margin: 10px;
    border-radius: 50%;
    cursor: pointer;

}

.slider_dots-active{
    background-color: darkslategray;
    width: 22px;
    height: 22px;
}

.button_prev{
    position: absolute;
    left: 0;
    top: 50%;
    cursor: pointer;
}

.button_next{
    position: absolute;
    right: 0;
    top: 50%;
    cursor: pointer;
}



@keyframes moverIzquierda{

    0%{
        transform: translateX(100%);
     
    }
   
}

@keyframes moverDerecha{
    
    0%{
        transform: translateX(-100%);
    }
}


