.grid-services{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
    /* background-color: gray; */
}

.grid-services > div{
    background-color: rgba(20, 228, 89, 0.5);
    height: 200px;
}