.services_container{
    background-color: violet;
    margin-top: 400px;
    padding-bottom: 50px;
    text-align: center;

}

.grid-services{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
    margin: 150px 50px 0px;
}


.services_item{
    background-color: white;
    height: 200px;
}