.metodo-container{
    display: grid;
    grid-template-columns: repeat(2, 43%);
    height: 800px;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.image-metodo{
    display: block;
    height: 420px;
    width: 80%;
}

.info-metodo-container{
    text-align: justify;
}

.title-metodo{
    font-size:2.6em;
    font-weight: 600;
    margin-bottom: 15px;
    color: #222121;
}


.subtitle-metodo{

    font-size:1.23em;
    font-weight: bold;
    width: 100%;
    color: #222121;
}

.li-metodo{
    font-size:1.04em;
    font-weight:500;
    margin-bottom: 50px;
}
