

.grid-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
  background-color: #2196F3;
  padding: 10px;
}

.grid-container > div {
  background-color: rgba(255, 255, 255, 0.8);
  text-align: center;
  padding: 20px 0;
  font-size: 30px;
}


.sub{
    /* display: block; */
    /* width: 50; */
    background-color: #2196F3;
}

    /* image3{
        grid-column: 1 / 4;
    } */

